# Data Science Tools and Ecosystem

In this notebook, Data Science Tools are summarized.

**Objectives:**

- List popular languages for Data Science.
- Create a markdown cell with a table of Data Science tools.
- Convert minutes to hours using code.
- Add comments to code and markdown cells.
- Understand how to use and format tables and lists in Markdown.

Some of the popular languages that Data Scientists use are: 
1. **Python** - Widely used for its simplicity and vast array of libraries (e.g., NumPy, Pandas, Scikit-learn, TensorFlow).
2. **R** - Strongly suited for statistical analysis and visualization (e.g., ggplot2, dplyr).
3. **SQL** - Essential for querying and managing databases.
4. **Julia** - Known for its high-performance numerical analysis.
5. **Scala** - Often used in conjunction with Apache Spark for big data processing.

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas** - For data manipulation and analysis.
2. **NumPy** - For numerical computing.
3. **Matplotlib** - For data visualization.
4. **Scikit-learn** - For machine learning.
5. **TensorFlow** - For deep learning.

| Data Science Tools        |
|---------------------------|
| Jupyter Notebooks          |
| RStudio                   |
| Apache Zeppelin            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [46]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
Enrique Liñán